.box{
	width: 100%;
	height: 100%;
    min-width: 16rem;
    min-height: 28.4rem;
}
/*上面部分*/
.box-top{
    width: 100%;
    height: 60%;
    position: relative;
    min-height: 17rem;
}

.box-top .back{
	width: 100%;
}
.box-top .back1{
	height: 70%;
	background: url(../img/index/back-1.png);
	background-size: 100% 100%;
}
.box-top .back1 .back1-content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}
.box-top .back1 .back1-content .back1-left{
    width: 4.5rem;
    height: 2.6rem;
    float: left;
    background: url(../img/index/嗨币大奖.png);
    background-size: 100% 100%;
}
.box-top .back1 .back1-content .back1-left p{
	width: 100%;
	height: 50%;
	display: block;
}

.box-top .back1 .back1-content .back1-left p:first-child{
    box-sizing: border-box;
    font-size: 0.6rem;
    text-align: center;
    line-height: 1.5rem;
    color: #edbb64;

}
.box-top .back1 .back1-content .back1-left p:last-child{
    box-sizing: border-box;
    text-align: center;
    font-size: 0.5rem;
    line-height: 1.1rem;
    color: #7e2a0e;
}


.box-top .back1 .back1-content .back1-right{
    width: 1.8rem;
    height: 2rem;
    float: right;
    background: url(../img/index/更多.png);
    background-size: 100% 100%;
    position: relative;
    z-index: 3;
}
.box-top .back1 .back1-content .back1-right a{
    color: #edbb64;
    display: block;
    text-align: center;
    margin-top: 1.8rem;
    text-decoration: none;
    font-size: 0.6rem;
}

.box-top .back1 .back1-content .back1-right .menu{
    display: none;
	position: absolute;
    right: 0rem;
    width: 3.5rem;
    height: 8rem;
    z-index: 3;
    /*background-color: #9a5341;*/
    background: url(../img/index/menu-back.png);
    background-size: 100% 100%;
    /*border: 1px solid #d49e72;*/
    border-radius: 0.2rem;
}
.box-top .back1 .back1-content .back1-right .menu ul{
    margin-top: -1.8rem;
    width: 100%;
    height: 100%;
    line-height: 0rem;
}
.box-top .back1 .back1-content .back1-right .menu ul li{
	width: 100%;
    height: 1.7rem;
    line-height: 1.7rem;
    margin-top: -1.8rem;
    border-bottom: 1px solid #904937;
}





.box-top .back2{
	height: 30%;
	background: url(../img/index/back-2.png);
	background-size: 100% 100%;
}
.box-top .door-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2rem 0.7rem 2.5rem 0.7rem;
}
.box-top .door-content .door{
	width: 33.3%;
	height: 100%;
	float: left;
	position: relative;

}
.box-top .door-content .door1{
    box-sizing: border-box;
    padding-top: 1.5rem;
}
.box-top .door-content .door2{
    box-sizing: border-box;
    padding-bottom: 1.6rem;
    z-index: 2;
}
.box-top .door-content .door3{
	box-sizing: border-box;
    padding-top: 1.5rem;
}
.door .door-in{
	width: 100%;
	height: 100%;
	position: relative;
}

 .door .door-in .door-kuang{
	position: absolute;
	top: 0px;
	bottom: 0px;
}
.door .door-in .door-kuang img{
	width: 100%;
	height: 100%;
} 
 .door .door-in .door-kuang-1{
 	right: -0.55rem;

    width: 5.8rem;
 }
 .door .door-in .door-kuang-3{
 	left: -0.5rem;
 }

.door .door-in .door-in-content{
    width: 100%;
    height: 100%;
}

.door .door-in .door-in-content .door-backColor{
    width: 100%;
    height: 100%;
    background: #edbb64;
    position: relative;
    background: url(../img/index/bg-door-award.png);
    background-size: 100% 100%;
}
.door .door-in .door-in-content .door-backColor .round{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    margin-top: -1.55rem;
    left: 50%;
    margin-left: -1.25rem;
    z-index: 2;
}
.door .door-in .door-in-content .door-backColor .cipher{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    margin-top: -2rem;
    left: 50%;
    margin-left: -1.25rem;
    text-align: center;
    line-height: 2.5rem;
    color: #edbb64;
    font-size: 1rem;
    font-weight: 600;
}
.door .door-in .door-in-content .door-backColor .round img{
    width: 100%;
    height: 100%;
}


.door-in-1 .door-in-content{
    box-sizing: border-box;
    padding-top: 2.7rem;
    padding-left: 0.8rem;
    padding-right: 0.19rem;
    padding-bottom: 0.5rem;
}
.door-in-2 .door-in-content{
    box-sizing: border-box;
    padding-top: 2.7rem;
    padding-left: 0.7rem;
    padding-right: 0.65rem;
    padding-bottom: 0.5rem;
}
.door-in-3 .door-in-content{
    box-sizing: border-box;
    padding-top: 2.8rem;
    padding-left: 0.25rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
}


.door .door-in .door-left{
	width: 50%;
	height: 100%;
	float: left;	
    z-index: 2;
}
.door .door-in .door-left img{
	width: 100%;
	height: 100%;
}
.door .door-in .door-right{
    width: 50%;
    height: 100%;
    float: right;
    z-index: 2;
}
.door .door-in .door-right img{
	width: 100%;
	height: 100%;
}






/*下面部分*/
.box-bottom{
	width: 100%;
	height: 40%;
	margin-top: -1rem;
	background-color: #682628;
}
/*截止投注 上期密码*/
.deadLine{
    width: 100%;
    height: 1.4rem;
    background-color: #91443e;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
    padding-top: 0.3rem;

}
.deadLine .deadline-content{
    width: 6.1rem;
    height: 1rem;
    background-color: #823732;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
.deadLine .deadTime{
	float: left;
}
.deadLine .upcode{
	float: right;
}
.deadLine .deadline-content .title{
    width: 50%;
    height: 100%;
    display: block;
    float: left;
    text-align: center;
    line-height: 1rem;
    font-size: 0.6rem;
    color: #b76b51;
}
.deadLine .deadline-content .shu{
	position: absolute;
    width: 1px;
    height: 0.6rem;
    display: block;
    left: 50%;
    margin-left: 0.5px;
    margin-top: 0.2rem;
    background-color: #681d18;
}
.deadLine .deadline-content .result{
	width: 50%;
    height: 100%;
    display: block;
    float: left;
    text-align: center;
    line-height: 1rem;
    font-size: 0.6rem;
    color: #febe81;
}
.deadLine .upcode .result{
	text-align: left;
    box-sizing: border-box;
    padding-left: 0.5rem;
}
.deadLine .upcode .result img{
	width: 0.9rem;
    height: 0.9rem;
    float: right;
    margin-top: 0.05rem;
}
/*投注数字*/

.selectList{
    width: 100%;
    height: 7rem;
    background-color: #682628;
    box-sizing: border-box;
    padding: 0rem 0.5rem;
}
.selectList ul{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.selectList ul li{
    width: 20%;
    height: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0.4rem 0.2rem 0.8rem 0.2rem;
}
.selectList ul li .list-top{
    width: 100%;
    height: 1.7rem;
    background: url(../img/index/list-top.png);
    background-size: 100% 100%;
    text-align: center;
    line-height: 1.7rem;
    color: #edbb64;
    font-weight: 600;
}
.selectList ul li .list-bottom{
    width: 90%;
    height: 0.7rem;
    background: url(../img/index/list-bottom.png);
    background-size: 100% 100%;
    margin-top: 0.2rem;
    text-align: center;
    font-size: 0.3rem;
    line-height: 0.7rem;
    color: #d6ad4b;
    box-sizing: border-box;
    margin-left: 5%;
}


/*底下按钮*/

.bottomSelect{
    width: 100%;
    height: 3.9rem;
    background-color: #712d2e;
    box-shadow: 0px -1px 0px 0px #62201d;
}
.bottomSelect .select-top{
	width: 100%;
	height: 40%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0.2rem;
}
.bottomSelect .select-top .coin{
	width: 5rem;
	height: 100%;
	float: left;
	background: url(../img/index/coin-buy.png);
	background-size: 100% 100%;
}
.bottomSelect .select-top .coin a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 1.2rem;
    border-top-right-radius: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
    border-bottom-right-radius: 1rem;
    text-decoration: none;
    color: #edbb64;
}


.bottomSelect .select-top .coinSelec{
    width: 10rem;
    height: 100%;
    float: right;
}
.bottomSelect .select-top .coinSelec ul{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.bottomSelect .select-top .coinSelec ul li{
	width: 3rem;
	height: 100%;
	float: left;
}
.bottomSelect .select-top .coinSelec ul li a{
	width: 100%;
    height: 100%;
    text-decoration: none;
    color: #b5665f;
    line-height: 1.1rem;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #b5665f;
    border-radius: 0.2rem;
    background-color: #662523;
    font-size: 0.65rem;
    font-weight: 540;
}
.bottomSelect .select-top .coinSelec ul li a img{
    width: 0.8rem;
    height: 0.8rem;
    display: block;
    float: left;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}
.bottomSelect .select-top .coinSelec ul li a span{

}


/*海币数量*/
.bottomSelect .select-bottom{
	width: 100%;
	height: 60%;
	overflow: hidden;
}
.bottomSelect .select-bottom .numberList{
	width: 50%;
	height: 100%;
	float: left;
}

.bottomSelect .select-bottom .numberList ul{
	width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0.4rem 0rem;
}
.bottomSelect .select-bottom .numberList ul li{
    width: 2rem;
    height: 1.1rem;
    margin-left: 0.5rem;
    float: left;
}
.bottomSelect .select-bottom .numberList ul li a.selc-coin{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 1.1rem;
    background-color: #a6462e;
    color: #eab96a;
    border-radius: 0.2rem;
    font-size: 0.5rem;
    font-weight: 500;
}
.bottomSelect .select-bottom .numberList ul li a.active{
	background-color: #eab96a;
	color:#a6462e;
}


.bottomSelect .select-bottom .query{
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0.2rem;
    padding-right: 0.4rem;
}
.bottomSelect .select-bottom .query a{
	display: block;
    width: 100%;
    height: 1.5rem;
    text-decoration: none;
    text-align: center;
    /*background-color: #eab96a;*/
    color: #a6462e;
    font-size: 0.6rem;
    font-weight: 550;
    line-height: 1.5rem;
    border-radius: 0.1rem;
    background: url(../img/chasing/query.png);
    background-size: 100% 100%;
}
/*追投悬浮框*/
.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 4;
}
.chasingFrame{
    display: none;
}
.chasingFrame .chasing-content{
    width: 100%;
    height: 7rem;
    bottom: 0;
    position: absolute;
}

.chasingFrame .chasing-content .chasing-top{
    width: 100%;
    height: 1rem;

}

.chasingFrame .chasing-content .chasing-top .back-btn{
    width: 2.3rem;
    height: 1rem;
    float: right;
    margin-right: 0.2rem;
    background-color: #712d2e;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    font-size: 0.4rem;
    line-height: 1rem;
    color: #b5665f;
}
.chasingFrame .chasing-content .chasing-top .back-btn img{
    width: 0.5rem;
    height: 0.4rem;
    float: left;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
    margin-right: 0.1rem;
}
/*充值*/
.chasingFrame .chasing-content .chasing-bottom{
    width: 100%;
    height: 6rem;
    background-color: #712d2e;
    
}
.chasing-bottom .chasing-period{
    width: 100%;
    height: 4rem;
    overflow: hidden;
}
/*追选方案*/
.chasing-period .programme{
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.6rem;
    box-sizing: border-box;
    padding-left: 0.5rem;
    color: #b5665f;
}
.chasing-period .programme i{
    margin-left: 0.3rem;
}


.chasing-bottom .chasing-period .period-selec{
    width: 50%;
    height: 2.5rem;
    float: left;
}

.period-selec-1{
    box-sizing: border-box;
    padding: 0.7rem 0.5rem 0.5rem 0.5rem;
}
.period-selec-1 div.period-content{
    width: 5rem;
    height: 1rem;
    float: left;
    background: url(../img/chasing/input.png);  
    background-size: 100% 100%; 
}
.period-selec-1 div.period-content span.fang{
    width: 0.8rem;
    height: 0.8rem;
    display: block;
    float: left;
    margin-top: 0.1rem;
    text-align: center;
    line-height: 0.9rem;
}
.period-selec-1 div.period-content span#reduce{
    background: url(../img/chasing/reduce.png);
    background-size: 100% 100%;
    margin-left: 0.1rem;
}
.period-selec-1 div.period-content span#add{
    background: url(../img/chasing/add.png);  
    background-size: 100% 100%;
}
.period-selec-1 div.period-content span.value{
    width: 3.2rem;
    height: 1rem;
    display: block;
    float: left;
    line-height: 1rem;
    text-align: center;
    color: #edbb64;
}
.period-selec-1 div.period-content input.value{
    width: 3.2rem;
    height: 0.8rem;
    display: block;
    float: left;
    line-height: 1rem;
    text-align: center;
    color: #edbb64;
    border: 0;
    box-sizing: border-box;
    background: #712d2e;
    margin-top: 0.1rem;
}
.period-selec-1 span.left{
    width: 1rem;
    height: 1rem;
    float: left;
    font-size: 0.6rem;
    text-align: center;
    line-height: 1rem;
    color: #b5665f;
}
.period-selec-2{
    box-sizing: border-box;
    padding: 0.55rem 0rem 0.35rem 0.5rem;
}
.period-selec-2 ul{
    width: 100%;
    height: 100%;
}
.period-selec-2 ul li{
    width: 2rem;
    height: 1.2rem;
    float: left;
    text-align: center;
    line-height: 1.2rem;
    background: blue;
    margin-right: 0.5rem;
    font-size: 0.55rem;
    border-radius: 0.15rem;
    color: #edbb64;
    background-color: #a6462e;
}
.chasing-bottom .recharge{
    width: 100%;
    height: 2rem;
    box-shadow: 0px -1px 0px 0px #631915;
}
.chasing-bottom .recharge .coin {
    width: 5rem;
    height: 1rem;
    float: left;
    background: url(../img/index/coin-buy.png);
    background-size: 100% 100%;
    margin-top: 0.5rem;
}
.chasing-bottom .recharge .coin a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 1rem;
    border-top-right-radius: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
    border-bottom-right-radius: 1rem;
    text-decoration: none;
    color: #edbb64;
    font-size: 0.5rem;
}

.chasing-bottom .recharge .query {
    width: 11rem;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-right: 0.4rem;
}
.chasing-bottom .recharge .query a {
    display: block;
    width: 100%;
    height: 1.5rem;
    text-decoration: none;
    text-align: center;
    background-color: #eab96a;
    color: #a6462e;
    font-size: 0.6rem;
    font-weight: 550;
    line-height: 1.5rem;
    border-radius: 0.1rem;
}

/*密码设定成功弹出框*/
.bettingFrame{
    display: none;
}
.bettingFrame-content{
    width: 14rem;
    height: 8rem;
    position: absolute;
    top: 50%;
    margin-top: -4rem;
    left: 50%;
    margin-left: -7rem;
    border-radius: 0.5rem;
    background: url(../img/betting/back);
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 1rem 0rem;
}
.bettingFrame-content .title{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;   
}
.bettingFrame-content .title img{
    width: 1rem;
    margin-right: 0.3rem;    
}
.bettingFrame-content .title span{
    font-size: 0.8rem;
    color: #ffd9ae;
}
.bettingFrame-content .content{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;   
}
.bettingFrame-content .content p{
    font-size: 0.6rem;
    color: #db9478;
}
.bettingFrame-content .button{
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    padding: 1rem 0.9rem 0.3rem 0.9rem;
    overflow: hidden;
}
.bettingFrame-content .button .btn{
    width: 5.8rem;
    height: 100%;
    border: 0;
    padding: 0;
    text-align: center;
    line-height: 1.2rem;
    font-size: 0.6rem;
    border-radius: 0.2rem;
}
.bettingFrame-content .button .btn-1{
    float: left;
    color: #651900;
    background: url(../img/betting/btn1.png);
    background-size: 100% 100%;
}
.bettingFrame-content .button .btn-2{
    float: right;
    background-color: #e0a855;
    color: #651900;
    background: url(../img/betting/btn2.png);
    background-size: 100% 100%;
}
.bettingFrame-content .button .btn a{
    width: 100%;
    height: 100%;
    display: block;
    color: #651900;
    text-align: center;
    line-height: 1.8rem;
    font-size: 0.6rem;
    border-radius: 0.2rem;
    text-decoration: none;
}

/*规则说明*/
.ruleFrame{
    display: none;
}
.ruleFrame .ruleFrame-content{
    width: 14rem;
    height: 16.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7rem;
    margin-top: -10rem;
    box-sizing: border-box;
    padding: 1.8rem 0.5rem 0.5rem 0.5rem;
    position: relative;
    border-radius: 0.3rem;
    background: url(../img/rule/back.png);
    background-size: 100% 100%;
}
.ruleFrame .ruleFrame-content .close{
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: -0.2rem;
    top: 0.2rem;
    text-align: center;
    line-height: 0.8rem;
    border-radius: 1rem;
    border: 2px solid #f6c96c;
    font-size: 0.9rem;
    font-weight: 700;
    background: url(../img/rule/close.png);
    background-size: 100% 100%;
}
.ruleFrame .ruleFrame-content .title{
    position: absolute;
    top: 0.4rem;
    display: block;
    width: 4rem;
    left: 50%;
    margin-left: -1.3rem;
    color: #f5c76f;
    font-size: 0.7rem;    
}
.ruleFrame .ruleFrame-content .content{
    width: 100%;
    height: 11rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0.5rem;
    overflow-y: auto;
}
.ruleFrame .ruleFrame-content .content .top-content{
    overflow: hidden;
}
.ruleFrame .ruleFrame-content .content h4{
    width: 3.4rem;
    height: 1.1rem;
    margin: 0 auto;
    font-size: 0.5rem;
    text-align: center;
    line-height: 1.1rem;
    border-radius: 1rem;
    color: #dd9a70;
    background: url(../img/rule/title.png);
    background-size: 100% 100%;
}
.ruleFrame .ruleFrame-content .content p{
    font-size: 0.5rem;
    color: #facc98;
    line-height: 0.7rem;    
}
.ruleFrame .ruleFrame-content .content .top{
    width: 5.8rem;
    height: 8rem;
    border-radius: 0.2rem;
    box-sizing: border-box;
    padding: 0.3rem;
    background: url(../img/rule/back1.png);
    background-size: 100% 100%;
}
.ruleFrame .ruleFrame-content .content .top .Legend{
    width: 100%;
    height: 4rem;
}
.ruleFrame .ruleFrame-content .content .top .Legend{
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
    padding: 0.3rem;
}
.ruleFrame .ruleFrame-content .content .top .Legend img{
    width: 100%;
    height: 100%;
}
.ruleFrame .ruleFrame-content .content .top .Legend .top1{
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
}
.ruleFrame .ruleFrame-content .content .top .Legend .bottom1{
width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
}
.ruleFrame .ruleFrame-content .content .top .Legend span{
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    float: left;
    color: #91493a;
    line-height: 1.2rem;
    text-align: center;
    font-weight: 600;
}
.ruleFrame .ruleFrame-content .content .top .Legend span#middle{
    position: absolute;
    left: 50%;
    margin-left: -0.6rem;
    top: 50%;
    margin-top: -0.75rem;
}
.ruleFrame .ruleFrame-content .content .top .Legend .top1 span{

}
.ruleFrame .ruleFrame-content .content .top .Legend .bottom1 span{

}
.ruleFrame .ruleFrame-content .content .top p{
    width: 100%;
    height: 2.7rem;
    box-sizing: border-box;
    padding-top: 0.4rem;
}
.ruleFrame .ruleFrame-content .content .left{
    float: left;
}
.ruleFrame .ruleFrame-content .content .right{
    float: right;
}
.ruleFrame .ruleFrame-content .content .bottom{
    width: 100%;
    /*height: 10rem;*/
    padding-top: 0.5rem;
    /*padding-bottom: 0.5rem;*/
}
.ruleFrame .ruleFrame-content .content .bottom p{
    margin-top: 0.5rem;
    line-height: 0.8rem;   
}
.ruleFrame .ruleFrame-content .button{
    width: 100%;
    height: 3rem;
    background-color: #884535;
    position: relative;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
.ruleFrame .ruleFrame-content .button button{
    width: 11rem;
    height: 1.8rem;
    color: #832d10;
    text-align: center;
    border: 0;
    padding: 0;
    border-radius: 0.2rem;
    position: absolute;
    left: 50%;
    margin-left: -5.5rem;
    bottom: 0.5rem;
    font-size: 0.6rem;
    font-weight: 600;
    background: url(../img/rule/btn.png);
    background-size: 100% 100%;
}
.ruleFrame .ruleFrame-content .button button a{
    width: 100%;
    height: 100%;
    display: block;
    line-height: 1.8rem;
}
/*往期密码*/
.pastcodeFrame{
    display: none;
}
.pastcode .pastcode-content{
    width: 14rem;
    height: 18.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7rem;
    margin-top: -9rem;
    box-sizing: border-box;
    padding: 1.8rem 0.5rem 0.5rem 0.5rem;
    position: relative;
    border-radius: 0.3rem;
    background: url(../img/rule/back.png);
    background-size: 100% 100%;
}
.pastcode .pastcode-content .close{
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: -0.2rem;
    top: 0.2rem;
    text-align: center;
    line-height: 0.8rem;
    border-radius: 1rem;
    border: 2px solid #f6c96c;
    font-size: 0.9rem;
    font-weight: 700;
    background: url(../img/rule/close.png);
    background-size: 100% 100%;
}
.pastcode .pastcode-content .title{
    position: absolute;
    top: 0.4rem;
    display: block;
    width: 4rem;
    left: 50%;
    margin-left: -1.3rem;
    color: #f5c76f;
    font-size: 0.7rem;    
}
.pastcode .pastcode-content .content{
    width: 100%;
    height: 13rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    box-sizing: border-box;
    padding: 0.8rem 0.5rem;
    overflow-y: auto;
    position: relative;
}
.pastcode .pastcode-content .content .title{
    width: 100%;
    height: 2rem;
    top: 0rem;
    left: 50%;
    margin-left: -6.5rem;
    position: absolute;
    box-sizing: border-box;
    padding: 0 0.5rem;
    border-bottom: 1px solid #8a4633;
    z-index: 2;
    background: #91493a;
}
.pastcode .pastcode-content .content .title ul{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.pastcode .pastcode-content .content .title ul li{
    height: 100%;
    float: left;
    line-height: 2rem;
    text-align: center;
    color: #d68c6a;
    font-size: 0.5rem;
}
.pastcode .pastcode-content .content .title ul li:nth-child(1){
    width: 55%;
    text-align: left;
}
.pastcode .pastcode-content .content .title ul li:nth-child(2){
    width: 15%;
}
.pastcode .pastcode-content .content .title ul li:nth-child(3){
    width: 15%;
}
.pastcode .pastcode-content .content .title ul li:nth-child(4){
    width: 15%;
}
.pastcode .pastcode-content .content .middle-content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem 0rem;
    overflow-y: scroll;
}
.pastcode .pastcode-content .content .middle-content .item{
    width: 100%;
    height: 1.5rem;
    border-bottom: 1px solid #8a4633
}
.pastcode .pastcode-content .content .middle-content .item ul{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.pastcode .pastcode-content .content .middle-content .item ul li{
    height: 100%;
    float: left;
    line-height: 2rem;
    text-align: center;
    color: #ffe39e; 
    line-height: 1.5rem;
    font-size: 0.4rem;
}
.pastcode .pastcode-content .content .middle-content .item ul li:nth-child(1){
    width: 55%;
    text-align: left;
}
.pastcode .pastcode-content .content .middle-content .item ul li:nth-child(2){
    width: 15%;  
    font-size: 0.8rem;
}
.pastcode .pastcode-content .content .middle-content .item ul li:nth-child(3){
    width: 15%; 
    font-size: 0.8rem;  
}
.pastcode .pastcode-content .content .middle-content .item ul li:nth-child(4){
    width: 15%;
    font-size: 0.8rem;
}
.pastcode .pastcode-content .content .bottom-tip{
    width: 100%;
    height: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1.5rem;
    z-index: 2;
    background: #91493a;
}
.pastcode .pastcode-content .content .bottom-tip p{
    width: 100%;
    text-align: center;
    color: #d68c6a;
    font-size: 0.5rem;
}

.pastcode .pastcode-content .button{
    width: 100%;
    height: 3rem;
    background-color: #884535;
    position: relative;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
.pastcode .pastcode-content .button button{
    width: 11rem;
    height: 1.8rem;
    color: #832d10;
    text-align: center;
    border: 0;
    padding: 0;
    border-radius: 0.2rem;
    position: absolute;
    left: 50%;
    margin-left: -5.5rem;
    bottom: 0.5rem;
    font-size: 0.6rem;
    font-weight: 600;
    background: url(../img/rule/btn.png);
    background-size: 100% 100%;
}
.pastcode .pastcode-content .button button a{
    width: 100%;
    height: 100%;
    display: block;
    line-height: 1.8rem;
}


/*修改1*/
 .door .door-in .door-kuang-1{
    width: 5.5rem;
 }
.door .door-in .door-kuang-2{
    width: 5.5rem;
}
 .door .door-in .door-kuang-3{
    width: 5.5rem;
    left: 0rem;
 }
.door .door-in .door-in-content{
    width: 5.5rem;
}
.box-top .door-content {
    padding: 2rem 0.7rem 2.5rem 0.15rem;
}
.door-in-1 .door-in-content {
    box-sizing: border-box;
    padding-top: 2.7rem;
    padding-left: 0.8rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}
.door-in-2 .door-in-content {
    box-sizing: border-box;
    padding-top: 2.7rem;
    padding-left: 0.7rem;
    padding-right: 0.6rem;
    padding-bottom: 0.5rem;
}
.door-in-3 .door-in-content {
    box-sizing: border-box;
    padding-top: 2.8rem;
    padding-left: 0.6rem;
    padding-right: 0.65rem;
    padding-bottom: 0.5rem;
}

.door .door-in .door-in-content .door-backColor {
    background: #edbb64;
    position: relative;
    background: url(../img/index/bg-door-award.png);
    background-size: 100% 100%;
    width: 4.2rem;
    height: 7.84rem;
}
/*修改1*/





















