.box{
	width: 100%;
	height: 100%;
	position: relative;
}
/*tab*/
.tab{
	width: 100%;
	height: 2.2rem;
	background-color: #9b634c;
	overflow: hidden;
	position: relative;
}
.tab .shu{
	position: absolute;
    display: block;
    width: 1px;
    height: 0.6rem;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -0.3rem;
    background-color: #6c3c2d;

}
.tab .tab-btn{
	width: 50%;
	height: 100%;
	float: left;
}
.tab .tab-btn span{
	width: 3.5rem;
    height: 100%;
    display: block;
    margin: 0 auto;
    font-size: 0.7rem;
    text-align: center;
    line-height: 2.2rem;
    color: #6c3c2d;
}
.tab .tab-btn span.active{
    color: #fada8e;
    margin-top: -3px;
    line-height: 2.5rem;
    border-bottom: 3px solid #fada8e;
}

/*列表内容*/
.box .content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	box-sizing: border-box;
	padding-top: 2.2rem;
	background-color: #6c3b34;
	z-index: -1;
}
/*投注记录*/
.content ul#bett{
	width: 100%;
	background-color: #8e4f3e;

}
.content ul#bett li{
    width: 100%;
    height: 3.4rem;
    box-sizing: border-box;
    padding: 0.6rem 0.5rem 0.1rem 1rem;
    overflow: hidden;
}
.content ul#bett li a{
	width: 100%;
	height: 100%;
	display: block;
}
.content ul#bett li .left{
    width: 13rem;
    height: 100%;
    float: left;
    line-height: 1rem;
    border-bottom: 1px solid #7e412f;
}
.content ul#bett li .left p{
	overflow: hidden;
}

.content ul#bett li .left p:first-child{
	color: #fbdab2;
	font-size: 0.7rem;
}
.content ul#bett li .left p:first-child i#chase{
    border: 1px solid #fbdab2;
    width: 1.7rem;
    height: 0.8rem;
    display: block;
    line-height: 0.8rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 0.2rem;
    margin-top: 0.1rem;
    margin-left: 0.3rem;
}
.content ul#bett li .left p:last-child{
	color: #d28362;
	font-size: 0.5rem;
}

.content ul#bett li .left p .p_left{
	float: left;
}
.content ul#bett li .left p .p_right{
	float: right;
}

.content ul#bett li .right{
	width: 1.5rem;
	height: 100%;
	float: left;
	line-height: 2rem;
	text-align: center;
	color: #fbdab2;
}
