.recordFrame{
/*    width: 100%;
    height: 100%;*/
    width: 16rem;
    height: 28.4rem;    
    position: absolute;
    top: 0;
    z-index: 10;
    display: none;
}
/*tab*/
.recordFrame .tab{
	width: 100%;
	height: 2.2rem;
	background-color: #9b634c;
	overflow: hidden;
	position: relative;
    z-index: 5;
}
.recordFrame .tab .shu{
	position: absolute;
    display: block;
    width: 1px;
    height: 0.6rem;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -0.3rem;
    background-color: #6c3c2d;

}
.recordFrame .tab .tab-btn{
	width: 50%;
	height: 100%;
	float: left;
}
.recordFrame .tab .tab-btn span{
	width: 3.5rem;
    height: 100%;
    display: block;
    margin: 0 auto;
    font-size: 0.7rem;
    text-align: center;
    line-height: 2.2rem;
    color: #6c3c2d;
}
.recordFrame .tab .tab-btn span.active{
    color: #fada8e;
    margin-top: -3px;
    line-height: 2.5rem;
    border-bottom: 3px solid #fada8e;
}

/*列表内容*/
.recordFrame .content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	/*box-sizing: border-box;*/
	padding-top: 2.2rem;
	background-color: #6c3b34;
	z-index: 4;
}
/*投注记录*/
.recordFrame .content ul#bett-record{
	width: 100%;
	background-color: #8e4f3e;

}
.recordFrame .content ul#bett-record li{
    width: 100%;
    height: 3.4rem;
    box-sizing: border-box;
    padding: 0.6rem 0.5rem 0.1rem 1rem;
    overflow: hidden;
}
.recordFrame .content ul#bett-record li a{
	width: 100%;
	height: 100%;
	display: block;
}
.recordFrame .content ul#bett-record li .left{
    width: 13rem;
    height: 100%;
    float: left;
    line-height: 1rem;
    border-bottom: 1px solid #7e412f;
}
.recordFrame .content ul#bett-record li .left p{
	overflow: hidden;
}

.recordFrame .content ul#bett-record li .left p:first-child{
	color: #fbdab2;
	font-size: 0.6rem;
}
.recordFrame .content ul#bett-record li .left p:first-child i#chase{
    border: 1px solid #fbdab2;
    width: 1.7rem;
    height: 0.7rem;
    display: block;
    line-height: 0.65rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 0.5rem;
    margin-top: 0.1rem;
    margin-left: 0.3rem;
}
.recordFrame .content ul#bett-record li .left p:first-child span#coin{
    background-color: rgba(0,0,0,0.3);
    padding: 0rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.5rem;
}
.recordFrame .content ul#bett-record li .left p:last-child{
	color: #d28362;
	font-size: 0.5rem;
}

.recordFrame .content ul#bett-record li .left p .p_left{
	float: left;
}
.recordFrame .content ul#bett-record li .left p .p_right{
	float: right;
}

.recordFrame .content ul#bett-record li .right{
    width: 1.5rem;
    height: 100%;
    float: left;
    line-height: 2.5rem;
    text-align: center;
    color: #fbdab2;
}
.recordFrame .content ul#bett-record li .right img{
    width: 0.9rem;
}
/*追投记录*/
.recordFrame .content ul#catch-record{
	width: 100%;
	background-color: #8e4f3e;

}
.recordFrame .content ul#catch-record li{
    width: 100%;
    height: 3.4rem;
    box-sizing: border-box;
    padding: 0.6rem 0.5rem 0.1rem 1rem;
    overflow: hidden;
}
.recordFrame .content ul#catch-record li a{
	width: 100%;
	height: 100%;
	display: block;
}
.recordFrame .content ul#catch-record li .left{
    width: 13rem;
    height: 100%;
    float: left;
    line-height: 1rem;
    border-bottom: 1px solid #7e412f;
}
.recordFrame .content ul#catch-record li .left p{
	overflow: hidden;
}

.recordFrame .content ul#catch-record li .left p:first-child{
	color: #fbdab2;
	font-size: 0.6rem;
}
.recordFrame .content ul#catch-record li .left p:first-child i#chase{
    border: 1px solid #fbdab2;
    width: 2.2rem;
    height: 0.7rem;
    display: block;
    line-height: 0.7rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 0.5rem;
    margin-top: 0.1rem;
    margin-left: 0.3rem;
}
.recordFrame .content ul#catch-record li .left p:first-child span#coin{
	background-color: rgba(0,0,0,0.3);
    padding: 0 0.5rem;
    border-radius: 1rem;
}
.recordFrame .content ul#catch-record li .left p:last-child{
	color: #d28362;
	font-size: 0.5rem;
}

.recordFrame .content ul#catch-record li .left p .p_left{
	float: left;
}
.recordFrame .content ul#catch-record li .left p .p_right{
	float: right;
}

.recordFrame .content ul#catch-record li .right{
	width: 1.5rem;
	height: 100%;
	float: left;
	line-height: 2.5rem;
	text-align: center;
	color: #fbdab2;
}
.recordFrame .content ul#catch-record li .right img{
    width: 0.9rem;
}

/*投注记录详情*/
.stakeRecordDetail {
/*    width: 100%;
    height: 100%;*/
    width: 16rem;
    height: 28.4rem;
    background-color: #6b3d32;
    box-sizing: border-box;
    padding: 2rem 0.5rem;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.stakeRecordDetail .stakeRecordDetail-content{
    width: 100%;
    height: 23rem;
}
.stakeRecordDetail .stakeRecordDetail-content .top{
    width: 100%;
    height: 20rem;
    background: url(../img/waitDecrypt/back.png);
    background-size: 100% 100%;
    position: relative;
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-title{
    width: 9rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    margin-left: -4.5rem;
    top: -1.25rem;
    text-align: center;
    line-height: 2.2rem;
    font-size: 0.9rem;
    color: #ffe4b9;
    background: url(../img/waitDecrypt/title.png);
    background-size: 100% 100%;
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2rem 0.5rem 2rem 2rem;
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-content .top-period{
    width: 11rem;
    height: 1.4rem;
    background: #934e3d;
    border-radius: 2rem;
    line-height: 1.4rem;
    font-size: 0.6rem;
    box-sizing: border-box;
    padding: 0 0.5rem;
    color: #e8976f;
    margin-bottom: 0.5rem;
    background: url(../img/record/titledetailback.png);
    background-size: 100% 100%;
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-content .top-period span:first-child{
    float: left;
    padding-right: 0.5rem;
    border-right: 1px solid #af684c;
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-content .top-period span:last-child{
    float: right;
    color: #f3dba9;
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-content .top-period img{
    width: 1rem;
    float: right;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-content ul{
    width: 100%;
    height: 100%;
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-content ul li{
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.6rem;
    color: #e8976f;
    overflow: hidden;
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-content ul li label{
    display: block;
    float: left;
    width: 3.2rem;   
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-content ul li span{
    color: #f3dba9;
    overflow: hidden;
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-content ul li span i{
    float: left;
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-content ul li span img{
    width: 1rem;
    margin-left: 0.3rem;
    float: left;
    margin-top: 0.4rem;
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-content ul li span label{
    float: left;
}
.stakeRecordDetail .stakeRecordDetail-content .top .top-content ul li span label:last-child{
    color: #6cc33a;
    margin-left: 0.2rem;
}
.stakeRecordDetail .stakeRecordDetail-content .bottom{
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
    padding: 0.7rem 3.5rem 1rem 3.5rem;

}
.stakeRecordDetail .stakeRecordDetail-content .bottom .btn{
    width: 8rem;
    height: 2rem;
    color: #7e2210;
    border: 0;
    padding: 0;
    border-radius: 0.2rem;
}
.stakeRecordDetail .stakeRecordDetail-content .bottom .btn-1{
    background-color: #dd6b43;
    background: url(../img/waitDecrypt/btn1.png);
    background-size: 100% 100%;
}
.stakeRecordDetail .stakeRecordDetail-content .bottom .btn-1 a{
    text-decoration: none;
    color: #7e2210;
}
.stakeRecordDetail .stakeRecordDetail-content .bottom .btn-2{
    float: right;   
    background-color: #ebba6b;
}
/*无记录*/
.noRecordFrame{
    width: 12rem;
    height: 6rem;
    position: absolute;
    z-index: 4;
    top: 50%;
    margin-top: -4rem;
    left: 50%;
    margin-left: -6rem;
}
.noRecordFrame .img{
    width: 100%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}
.noRecordFrame .img img{
    width: 6rem;
}
.noRecordFrame p{
    width: 100%;
    height: 1rem;
    text-align: center;
    font-size: 0.6rem;
    color: #ebbb6f;    
}
.noRecordFrame .back-btn{
    width: 100%;
    height: 2rem;    
}
.noRecordFrame .back-btn button{
    width: 10rem;
    height: 1.5rem;
    border: 0;
    margin-left: 1rem;
    font-size: 0.6rem;
    border-radius: 0.2rem;
    color: #832d10;
    margin-top: 0.5rem;
    background: url(../img/rule/btn.png);
}

/*追投记录详情*/
.chasingRecordDetail{
/*    width: 100%;
    height: 100%;*/
    width: 16rem;
    height: 28.4rem;
    position: absolute;
    top: 0;
    z-index: 10;
    background: #6b3c32;
    display: none;
}
.chasingRecordDetail .top-content{
    width: 100%;
    height: 8rem;
    overflow: hidden;
    background: #8e4f3d;
    overflow-y: auto;
}

.chasingRecordDetail .top-content .top-title p:first-child{
    text-align: center;
    font-size: 0.5rem;
    height: 1rem;
    line-height: 1.5rem;  
    color: #e19273;  
}
.chasingRecordDetail .top-content .top-title p:last-child{
    width: 100%;
    height: 2rem;
    line-height: 1rem;
    text-align: center;
    box-sizing: border-box;
    padding-left: 2.9rem;
    overflow: hidden;
    padding-top: 0.2rem;
}
.chasingRecordDetail .top-content .top-title p:last-child span{
    float: left;
    color: #ffe7b8;
}
.chasingRecordDetail .top-content .top-title p:last-child img{
    width: 0.8rem;
    float: left;
    margin-left: 0.2rem;
    margin-top: 0.1rem;
}
.chasingRecordDetail .top-content .left{
    width: 50%;
    height: 3rem;
    float: left;
    border-right: 1px solid #6e3b26;
    box-sizing: border-box;
}

.chasingRecordDetail .top-content .right{
    width: 50%;
    height: 3rem;
    float: left;
}
.chasingRecordDetail .top-content .bottom{
    width: 100%;
    height: 5rem;
    float: left;
    box-sizing: border-box;
    padding: 0.5rem 0;
    padding-left: 1rem;
    border-top: 1px solid #6e3b26;
}
.chasingRecordDetail .top-content .bottom ul{
    width: 100%;
    height: 100%;
}
.chasingRecordDetail .top-content .bottom ul li{
    width: 100%;
    /*height: 1rem;*/
    color: #e19273;
    font-size: 0.6rem;
    line-height: 1rem;
}
.chasingRecordDetail .top-content .bottom ul li span{
    color: #ffe7b8;
    margin-left: 0.5rem;
}

.chasingRecordDetail .bottom-list{
    width: 100%;
}
.chasingRecordDetail .bottom-list .item{
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    box-sizing: border-box;
    line-height: 2.5rem;
    padding: 0 0.5rem;
}
.chasingRecordDetail .bottom-list .item .item-content-left{
    width: 93%;
    height: 99%;
    float: left;
    overflow: hidden;
    font-size: 0.6rem;
    color: #e19273;
    border-bottom: 1px solid #5f321f;
}
.chasingRecordDetail .bottom-list .item .item-content-left span{

}
.chasingRecordDetail .bottom-list .item .item-content-left .item-left{
    width: 60%;
    height: 100%;
    float: left;
}
.chasingRecordDetail .bottom-list .item .item-content-left .item-left span:first-child{
    margin-right: 0.5rem;
}
.chasingRecordDetail .bottom-list .item .item-content-left .item-right{
    width: 40%;
    height: 100%;
    float: left;
    color: #ffe7b8;
    text-align: right;
}
.chasingRecordDetail .bottom-list .item .item-content-right{
    width: 7%;
    height: 100%;
    float: left;
    text-align: center;
}
.chasingRecordDetail .bottom-list .item .item-content-right img{
    width: 0.7rem;
    margin-top: 0.9rem;
}
.chasingRecordDetail .button{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}
.chasingRecordDetail .button button{
    width: 6rem;
    height: 1.5rem;
    text-align: center;
    border: 0;
    color: #6a1b07;
}
.chasingRecordDetail .button button#btn-1{
    background: url(../img/record/btn1.png);
    background-size: 100% 100%;
}
.chasingRecordDetail .button button#btn-2{
    background: url(../img/record/btn2.png);
    background-size: 100% 100%;
    margin-left: 0.5rem;
}
