<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>密室寻宝</title>
	<meta http-equiv="Cache-Control" content="no-cache" />    
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />    
	<meta name="apple-mobile-web-app-capable" content="yes" />   
	<meta content="black" name=" apple-mobile-web-app-status-bar-style"   />
	<meta content="telephone=no" name="format-detection" />
	<meta content="email=no" name="format-detection" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="applicable-device" content="mobile">
	<link rel="stylesheet" type="text/css" href="../css/share/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/record.css">
	<script type="text/javascript" src="../js/share/rem.js"></script>
	<script type="text/javascript" src="../js/share/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../js/record.js"></script>
</head>
<body>
	<div class="box">
		<div class="tab">
			<div class="tab-btn tab1"><span class="active">投注记录</span></div>
			<i class="shu"></i>
			<div class="tab-btn tab2"><span>追投记录</span></div>
		</div>
		<div class="content">
			<ul id="bett">
				<li>
					<a href="#">
						<div class="left">
							<p>
								<span class="p_left">第18010306号密室</span><i class="p_left" id="chase">追投</i>
								<span class="p_right">等待解密</span>
							</p>
							<p>
								<span class="p_left">2018-01-02 10:04</span>
								<span class="p_right">消耗200金币</span>
							</p>
						</div>
						<div class="right">
							>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="left">
							<p>
								<span class="p_left">第18010306号密室</span><i class="p_left" id="chase">追投</i>
								<span class="p_right">等待解密</span>
							</p>
							<p>
								<span class="p_left">2018-01-02 10:04</span>
								<span class="p_right">消耗200金币</span>
							</p>
						</div>
						<div class="right">
							>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="left">
							<p>
								<span class="p_left">第18010306号密室</span><i class="p_left" id="chase">追投</i>
								<span class="p_right">等待解密</span>
							</p>
							<p>
								<span class="p_left">2018-01-02 10:04</span>
								<span class="p_right">消耗200金币</span>
							</p>
						</div>
						<div class="right">
							>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="left">
							<p>
								<span class="p_left">第18010306号密室</span><i class="p_left" id="chase">追投</i>
								<span class="p_right">等待解密</span>
							</p>
							<p>
								<span class="p_left">2018-01-02 10:04</span>
								<span class="p_right">消耗200金币</span>
							</p>
						</div>
						<div class="right">
							>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="left">
							<p>
								<span class="p_left">第18010306号密室</span><i class="p_left" id="chase">追投</i>
								<span class="p_right">等待解密</span>
							</p>
							<p>
								<span class="p_left">2018-01-02 10:04</span>
								<span class="p_right">消耗200金币</span>
							</p>
						</div>
						<div class="right">
							>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>