<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>密室寻宝</title>
	<meta http-equiv="Cache-Control" content="no-cache" />    
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />    
	<meta name="apple-mobile-web-app-capable" content="yes" />   
	<meta content="black" name=" apple-mobile-web-app-status-bar-style"   />
	<meta content="telephone=no" name="format-detection" />
	<meta content="email=no" name="format-detection" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="applicable-device" content="mobile">
	<link rel="stylesheet" type="text/css" href="../css/share/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/waitDecrypt.css">
	<script type="text/javascript" src="../js/share/rem.js"></script>
	<script type="text/javascript" src="../js/share/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../js/loading/spin.min.js"></script>
	<!-- <script type="text/javascript" src="../js/loading/loading.js"></script> -->
</head>
<body>
	<div class="box">
		<div class="box-content">
			<div class="top">
				<div class="top-title">等待解密</div>
				<div class="top-content">
					<ul>
						<li>消耗嗨币：<span>200嗨币</span></li>
						<li>密码内容：<span>"3":1倍</span></li>
						<li>密码设定：<span>共1组密码</span></li>
						<li>密码编号：<span>P180107787387878348278478</span></li>
						<li>探墓时间：<span>2018-01-07 17:20</span></li>
						<li>解密时间：<span>2018-01-07 17:59</span></li>
					</ul>
				</div>
			</div>
			<div class="bottom">
				<button class="btn btn-1"><a href="../index.html">继续解密</a></button>
			</div>	
		</div>
	</div>
</body>
</html>